<h3>Bundle Items</h3>
{% extends "navbar.html" %}
{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Bundle ID</th>
            <th>Bundle Name</th>
            <th>Item ID</th>
            <th>Item Name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>Spring Foraging Bundle</td>
            <td>1</td>
            <td>Wild Horseradishk</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>Summer Foraging Bundle</td>
            <td>2</td>
            <td>Grape</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>Fall Foraging Bundle</td>
            <td>3</td>
            <td>Common Mushroom</td>
        </tr>
        <tr>
            <td>4</td>
            <td>4</td>
            <td>Winter Foraging Bundle</td>
            <td>4</td>
            <td>Crystal Fruit</td>
        </tr>
    </table>

    <br>
    <form>
        Add a Bundle Item:
        <label for="bundle_id">Bundle ID: </label>
        <input type="text" id="bundle_id" name="bundle_id">
        <label for="item_id">Item ID: </label>
        <input type="text" id="item_id" name="item_id">
    </form>
{% endblock %}