<h3>Character Items</h3>
{% extends "navbar.html" %}
{% block content %}
    <table>
        <tr>
            <th></th>
            <th></th>
            {% for key in charitems[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tbody>
            {% for entry in charitems %}
            <tr>
                <td><form action="/characteritems/update/{{entry.ID}}" method="GET"><input type="submit" value="Edit"></form></td>
                <td><form action="/characteritems/delete/{{entry.ID}}" method="POST"><input type="submit" value="Delete"></form></td>
                {% for key in entry.keys() %}
                <td>{{ entry[key] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <form action="/characteritems" method="POST">
        Add a Character Item:
        <label for="character">Character Name</label>
        <select id="character" name="character">
            {% for char in charSet %}
            <option value="{{char.character_id}}">{{char.name}}</option>
            {% endfor %}
        </select>
        <label for="item">Item Name</label>
        <select id="item" name="item">
            {% for item in itemSet %}
            <option value="{{item.item_id}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
