<h3>Shops</h3>
{% extends "navbar.html" %}
{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Shopkeeper</th>
            <th>Region</th>
            <th>Operating Hours</th>
            <th>Items</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Pierre's General Store</td>
            <td>The store sells various seeds, saplings, and fertilizer. It is home to Pierre, Caroline, and Abigail.</td>
            <td>Pierre</td>
            <td>Pelican Town</td>
            <td>9am to 5pm</td>
            <td>Items</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Fish Shop</td>
            <td>The fish shop sells various fishing equipment. It is home to Willy.</td>
            <td>Willy</td>
            <td>The Beach</td>
            <td>9am to 5pm</td>
            <td>Items</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Krobus' Shop</td>
            <td>Sells various rare items as well as rotating stock.</td>
            <td>Krobus</td>
            <td>The Sewers</td>
            <td>12am to 12am</td>
            <td>Items</td>
        </tr>
    </table>

    <br>
    <form>
        Add a Shop:
        <label for="shop_name">Name: </label>
        <input type="text" id="shop_name" name="shop_name">
        <label for="shop_description">Description: </label>
        <input type="text" id="shop_description" name="shop_description">
        <label for="shop_shopkeeper">Description: </label>
        <input type="text" id="shop_shopkeeper" name="shop_shopkeeper">
        <label for="shop_region">Description: </label>
        <input type="text" id="shop_region" name="shop_region">
        <label for="shop_hours">Description: </label>
        <input type="text" id="shop_hours" name="shop_hours">
    </form>
{% endblock %}
