{% extends "navbar.html" %}
{% block content %}
<form action="/characteritems/update/{{item.id}}" method="POST">
    Update Character Item:
    Current Character Name: {{item.CharacterName}}
    <label for="character">New Character Name</label>
    <select id="character" name="character">
        {% for char in charSet %}
        <option value="{{char.character_id}}">{{char.name}}</option>
        {% endfor %}
    </select>
    Current Item Name: {{item.itemName}}
    <label for="item">Item Name</label>
    <select id="item" name="item">
        {% for item in itemSet %}
        <option value="{{item.item_id}}">{{item.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}
